steamKey: $STEAM_KEY

pinnedPackages:
  ssri: 8.0.1
  cacache: 15.3.0
  passport-steam: 1.0.17
  minipass-fetch: 2.1.2
  express-rate-limit: 6.7.0
  yaml: 2.0.0-11
  canvas: 2.11.2

mods:
  - screepsmod-auth
  - screepsmod-admin-utils
  - screepsmod-mongo
  - screepsmod-bots
  - screepsmod-history
  - screepsmod-stats
  - screepsmod-visualize
  - screepsmod-dynamicmarket
  - screepsmod-features
  - screepsmod-portals
  - screepsmod-timeout
  - "@screepsmod/serverinfo"
  - screepsmod-maptools
  - screepsmod-leaderboard
  - screepsmod-arenaworld
  - screepsmod-pvp-api
  - screepsmod-remote-console
  - screepsmod-map-tool
  - screepsmod-web-client
  - screepsmod-cors

bots:
  choreographer: screeps-bot-choreographer
  overmind: screeps-bot-overmind
  tooangel: screeps-bot-tooangel

serverConfig:
  tickRate: 200
  socketUpdateRate: 200
  shardName: "test"
  welcomeText: |
    <h1 style="text-align: center;">My Cool Server</h1>
  constants: {}
  gclToCPU: true
  maxCPU: 100
  baseCPU: 20
  stepCPU: 10

launcherOptions:
  # If set, automatically ensures all mods are updated
  autoUpdate: false
  # If set, forward console messages to terminal
  logConsole: true
