name: Deploy

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy (${{ matrix.environment }})
    runs-on: ubuntu-latest
    environment: ${{ matrix.environment }}
    strategy:
      fail-fast: false
      matrix:
        environment:
          - sim.screeps.com
          - season.screeps.com
          - ptr.screeps.com
          - screeps.com
          - screeps.nyphon.de
          - screeps.newbieland.net
    defaults:
      run:
        working-directory: packages/screeps-bot
    env:
      CI: true
      SCREEPS_USER: ${{ vars.SCREEPS_USER }}
      SCREEPS_PASS: ${{ secrets.SCREEPS_PASS }}
      SCREEPS_TOKEN: ${{ secrets.SCREEPS_TOKEN }}
      SCREEPS_PROTOCOL: ${{ vars.SCREEPS_PROTOCOL }}
      SCREEPS_HOSTNAME: ${{ vars.SCREEPS_HOSTNAME }}
      SCREEPS_PORT: ${{ vars.SCREEPS_PORT }}
      SCREEPS_PATH: ${{ vars.SCREEPS_PATH }}
      SCREEPS_BRANCH: ${{ vars.SCREEPS_BRANCH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: packages/screeps-bot/.nvmrc
          cache: npm

      - name: Install dependencies for screeps-chemistry
        working-directory: packages/screeps-chemistry
        run: npm ci

      - name: Build screeps-chemistry
        working-directory: packages/screeps-chemistry
        run: npm run build

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Push to Screeps
        run: npm run push
