name: Deploy

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy (${{ matrix.environment }})
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    environment: ${{ matrix.environment }}
    strategy:
      fail-fast: false
      matrix:
        environment:
          - sim.screeps.com
          - season.screeps.com
          - ptr.screeps.com
          - screeps.com
          - screeps.nyphon.de
          - screeps.newbieland.net
    env:
      CI: true
      SCREEPS_USER: ${{ vars.SCREEPS_USER }}
      SCREEPS_PASS: ${{ secrets.SCREEPS_PASS }}
      SCREEPS_TOKEN: ${{ secrets.SCREEPS_TOKEN }}
      SCREEPS_PROTOCOL: ${{ vars.SCREEPS_PROTOCOL }}
      SCREEPS_HOSTNAME: ${{ vars.SCREEPS_HOSTNAME }}
      SCREEPS_PORT: ${{ vars.SCREEPS_PORT }}
      SCREEPS_PATH: ${{ vars.SCREEPS_PATH }}
      SCREEPS_BRANCH: ${{ vars.SCREEPS_BRANCH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Push to Screeps
        run: npm run push
